<section>
    <div class="portada">
        <div class="content_wrapper">
            <div class="title">
               <h2>
                Bienvenidos.
               </h2>
               <h3>
                Millones de películas, programas de televisión y personas por descubrir. Explora ahora.
               </h3>
            </div>
        </div>
        <div class="input">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>
