section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    background-color: #fff;
}
.portada{
    //background-image:  linear-gradient(to right, rgba(56,34,195,0.8) 0%, rgba(217,45,253,0) 100%), url("../../../assets/portada.jpeg");
    //min-height: calc(90vh - 100px - 300px);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 1200px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 8px 8px;
}

.content_wrapper {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 40px;
    padding-right: 40px;
    
    #carouselId .carousel-item {
        img {
            border-radius: 0px 0px 12px 12px;
            filter: brightness(80%);
            object-fit: cover;
            object-position: center;
            height: 50vh;
            width: 130vh;
            overflow: hidden;
        }
        .carousel-caption{
            left: 4%;
            top: 30% !important;
            transform: translateY(40%);
            text-align: left;
            bottom: initial;
            h2{
                font-size: 3em;
                font-weight: 700;
                line-height: 1;
            }
            h3{
                font-size: 2em;
                font-weight: 600;
                margin: 0;
            }
        }
        
    }
    
}

@media (max-width: 700px) {
    .content_wrapper {
        #carouselId .carousel-item {
            .carousel-caption{
                top: 0% !important;
                transform: translateY(0%);
            }
        }
    }
}