section{
    width: 100%;
    display: contents;
}
.portada{
    background-size: cover;
}

.content_wrapper {
    align-items: flex-start;
    align-content: flex-start;
    
    #carouselId .carousel-item {
        img {
            border-radius: 0px 0px 12px 12px;
            filter: brightness(80%);
            object-fit: cover;
            object-position: center;
            height: 50vh;
            width: 100%;
            overflow: hidden;
        }
        .carousel-caption{
            left: 4%;
            top: 30% !important;
            transform: translateY(40%);
            text-align: left;
            bottom: initial;
            h2{
                font-size: 3em;
                font-weight: 700;
                line-height: 1;
            }
            h3{
                font-size: 2em;
                font-weight: 600;
                margin: 0;
            }
        }
        
    }
    
}

@media (max-width: 700px) {
    .content_wrapper {
        #carouselId .carousel-item {
            .carousel-caption{
                top: 0% !important;
                transform: translateY(0%);
            }
        }
    }
}