<article>
  <div class="card" *ngIf="movie['media_type'] == 'movie'">
    <div class="content">
      <div class="img" [routerLink]="['/movies-details', movie.id]">
        <img
          *ngIf="movie.poster_path; else backdrop"
          src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}"
          alt=""
        />
        <img
          #backdrop
          *ngIf="!movie.poster_path"
          src="https://image.tmdb.org/t/p/w500/{{ movie.backdrop_path }}"
          alt=""
        />
      </div>

      <div class="details">
        <div class="name" *ngIf="movie['name']">
          {{ movie["name"] | slice: 0:30 }}
        </div>
        <div class="name" *ngIf="movie['title']">
          {{ movie["title"] | slice: 0:30 }}
        </div>
        <div class="job">{{ movie["release_date"] | date }}</div>
        <app-circle-rating [rating]="movie['vote_average']"></app-circle-rating>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="movie['media_type'] == 'tv'">
    <div class="content">
      <div class="img" [routerLink]="['/series-details', movie.id]">
        <img
          *ngIf="movie.poster_path; else backdrop"
          src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}"
          alt=""
        />
        <img
          #backdrop
          *ngIf="!movie.poster_path"
          src="https://image.tmdb.org/t/p/w500/{{ movie.backdrop_path }}"
          alt=""
        />
      </div>

      <div class="details">
        <div class="name" *ngIf="movie['name']">
          {{ movie["name"] }}
        </div>
        <div class="name" *ngIf="movie['title']">
          {{ movie["title"] }}
        </div>
        <div class="job">{{ movie["release_date"] | date }}</div>
        <app-circle-rating [rating]="movie['vote_average']"></app-circle-rating>
      </div>
    </div>
  </div>
</article>
