
.modal-header{
  background-color: var(--secondary-color);
  color: white;
  height: 40px;
}

.modal-body{
  background-color: black;
  color: white;
}

.modal-footer{
  color: white;
  background-color: var(--secondary-color);
}