<div class="container-fluid" *ngIf="popularMovies">
	<div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">

		<div class="container">
			<div class="col-3" *ngFor="let item of popularMovies">
				<app-card [popularMovies]="item"></app-card>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid" *ngIf="popularTv">
	<div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">

		<div class="container">
			<div class="col-3" *ngFor="let item of popularTv">
				<app-card [popularTv]="item"></app-card>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid" *ngIf="trending">
	<div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">

		<div class="container">
			<div class="col-3" *ngFor="let item of trending">
				<app-card [trending]="item"></app-card>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid" *ngIf="cast">
	<div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">

		<div class="container">
			<div class="col-3" *ngFor="let item of cast">
				<app-card [cast]="item"></app-card>
			</div>
		</div>
	</div>
</div>