.scrolling-wrapper{
	overflow-x: auto;
  max-width: 1200px;
  margin: auto;
  .col-3{
    width: 16%;
  }
}

@media (max-width: 1167px){
	.scrolling-wrapper{

	  .col-3{
		width: 17%;
	  }
	}
}

@media (max-width: 1043px){
	.scrolling-wrapper{

	  .col-3{
		width: 20%;
	  }
	}
}

@media (max-width: 893px){
	.scrolling-wrapper{

	  .col-3{
		width: 25%;
	  }
	}
}

@media (max-width: 736px){
	.scrolling-wrapper{

	  .col-3{
		width: 32%;
	  }
	}
}

@media (max-width: 590px){
	.scrolling-wrapper{

	  .col-3{
		width: 50%;
	  }
	}
}


