<div class="background"></div>
<div class="wrapper">
    <h1 *ngIf="movies">{{titlePage}}</h1>
    <div class="grid" infinite-scroll (scrolled)="onScrollDown()">

        <article *ngFor="let movie of movies">
          <app-card-movies [movie]="movie"></app-card-movies>
        </article>

    </div>
</div>

<button
  [ngClass]="'no-hidden'"
  *ngIf="showGoUpButton"
  (click)="onScrollTop()"
  class="btn btn-outline-secondary btn-lg mt-3"
  class="btn btn-dark"
>
  página: {{page}}/{{totalPage}}
  <img src="../../../assets/icons/arrow-up-circle-fill.svg" alt="">
</button>
