h3{
    background: -webkit-linear-gradient(#eee, #aa0fe4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img-icon{
    border-radius: 50px 50px 50px 50px;
    width: 60px;
    height: 60px;
    filter: brightness(151%);
}

a {
    color: #050506;
    text-decoration: none;
    &:hover{
        text-shadow: 7px 1px 25px #a700ff;
    }
}
li{
    list-style:none;
    padding: 5px;
    .img-icon{
        width: 16px;
        height: 16px;
    }
    .img-movie{
        width: 80px;
        border-radius: 8px;
        display: block;
        &:hover{
            box-shadow: 0 1px 10px var(--secondary-color);
            transition: all 0.5s ease-out;
            cursor: pointer;
        }
    }
}
ul{
    padding: 0px;
}

.input{
    padding: 10px;
    .form-control{
        border-radius: 1.25rem;
    }
    .btn{
        border-radius: 1.25rem;
    }
}