h3{
    background: -webkit-linear-gradient(#eee, #aa0fe4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img{
    border-radius: 50px 50px 50px 50px;
    width: 60px;
    height: 60px;
    filter: brightness(151%);
}

a {
    color: #050506;
    text-decoration: none;
    &:hover{
        text-shadow: 7px 1px 25px #a700ff;
    }
}
li{
    list-style:none;
    padding: 5px;
    img{
        width: 16px;
        height: 16px;
    }
}
ul{
    padding: 0px;
}

.input{
    padding: 10px;
    .form-control{
        border-radius: 1.25rem;
    }
    .btn{
        border-radius: 1.25rem;
    }
}