.wrapper {
    display: block;
    width: 100%;
    min-height: 100%;
    h1{
        padding: 50px 15px 20px 50px;
        font-size: 2rem;
        text-shadow: 7px 1px 25px #a700ff;
    }
    .grid{
        max-width: 1200px;
        margin: auto;
        display:grid;
        grid-template-columns: repeat( auto-fill, minmax(12rem, 1fr) );
        padding:3rem;
      }
  }