<app-welcome-search></app-welcome-search>

<div class="header-slide">
    <h3>Lo más Popular</h3>
    <div class="selector-wrap">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">En Streaming</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">En Televisión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">En Alquiler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">En Cine</a>
            </li>
        </ul>
    </div>
</div>

<app-slides-cards></app-slides-cards>

<div class="header-slide">
  <h3>Tendencias</h3>
  <div class="selector-wrap">
      <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Películas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Televisión</a>
          </li>
      </ul>
  </div>
</div>

<app-slides-cards></app-slides-cards>