.movie_card{
  position: relative;
  display: block;
  overflow: hidden;
  transition: all 0.4s;
  &:hover{
    transform: scale(1.02);
    transition: all 0.4s;
  }
  .info_section{
    display: grid;
    $auto-grid-min-size: 35rem;
    grid-template-columns: repeat(auto-fill, minmax($auto-grid-min-size, 1fr));
    position: relative;
    padding: 100px;
    width: 100%;
    height: 100%;
	  background-blend-mode: multiply;
    z-index: 2;
    .movie_header{
      padding: 5px;
      height: 40%;
      .icons{
        width: 25px;
        height: 25px;
        margin: 4px;
        display: inline;
      }
      h1{
        color: #fff;
        font-weight: 400;
      }
      h2{
        color:#fff;
        font-weight: 400;
        font-size: 1.5rem;
      }
      h4{
        color: #9ac7fa;
        font-weight: 400;
      }
      h5{
        color: var(--secondary-color);
      }
      .minutes{
        display: inline-block;
        margin-top: 10px;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(255,255,255,0.13);
      }
      .seasons{
        margin-top: 10px;
        color: #fff;
        padding: 5px;
      }
      .type{
        display: inline-block;
        color: #cee4fd;
        margin-left: 10px;
      }
      img{
        border-radius: 10px;
        width: 80%;
      }
      .locandina{
        position: relative;
        width: 100%;
        //float: left;
        margin-right: 20px;
        //height: 120px;
        box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
      }
    }
    .movie_desc{
      display: contents;
      padding: 25px;
      height: 50%;
      .slides{
        display: grid;
        grid-column-start: 4;
        grid-column-end: 1;
        grid-row-end: 3;
        z-index: 2;
      }
      .text{
        color: #cfd6e1;
        button{
          border-radius: 12px;
          margin-top: 20px;
          display: block;
        }
      }
    }
  }
  .blur_back{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; right: 0;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .movie_header{
    width: 60%;
  }
  
  .movie_desc{
    width: 50%;
  }
  
  .info_section{
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
  }
  
  .blur_back{
    width: 80%;
    //background-position: -100% 10% !important;  
  }
}

@media screen and (max-width: 1000px) {
  .movie_card{
    width: 100%;
    .info_section{
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
      .movie_desc{
        display: block;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .movie_card{
    width: 100%;
    //margin: 70px auto; 
    min-height: 350px;
    height: auto;
    .info_section{
      background: linear-gradient(to top, rgb(20, 20, 19) 50%, transparent 100%);
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
      padding: 10px;
      .movie_desc{
        display: block;
      }
    }
  }
  
  .blur_back{
    width: 100%;
    background-position: 50% 50% !important;  
  }
  
  .movie_header{
    width: 100%;
    margin-top: 85px;
  }
  
  .movie_desc{
    width: 100%;
  }
  
}

@media (max-width: 580px) {
  .movie_card{
    width: 100%;
    //margin: 0px auto; 
    min-height: 350px;
    height: auto;
    .info_section{
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
  }
}
.bright_back{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: left;
}
.not-found{
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100% ;
  z-index: -1;
  background-image: url("https://media.istockphoto.com/vectors/page-not-found-error-with-film-flap-design-vector-id1265221960?k=20&m=1265221960&s=170667a&w=0&h=jCITUlo5a7s5fue3XrX2WB8FOK9VnbaWeLCHB8Ovj-c=");
  button {
    margin: 100px;
}
}